* {
  font-family: 'Montserrat', sans-serif;
}
/* Modify brand and text color */

.navbar {
	background-color: #ffa3b460;
}

#webgazerVideoContainer {
  border: 3px solid rgb(235, 217, 227) !important;
  border-radius: 5px;
  margin-top:  200px !important;
  margin-left: 50px !important;
  height: 280px !important;
  width: 360px !important;
  padding: 16px;
}

#webgazerFaceFeedbackBox{
  /* padding: 100px !important; */
  position: relative !important;
}
.align-center {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

}
.align-center img {
width: 500px;
max-width: 100%;
}

body {
  /* background-image: url('../assets/background.png');
  background-repeat:no-repeat;
  /* background-size: cover; */
  /* background-origin: bottom left */ 
  background: url(../assets/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quiz-box { 
  border: 2px solid #B6B6B6;
  border-radius: 15px;
  height: 400px; 

}

#question {
  font-size: 30px;
  padding-top: 30px;
  font-weight: 700;
}

.option {
  border: 2px solid #B6B6B6;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#options {
  padding-top: 45px ;
}

.question-box {
  margin-left: 50px;
  margin-top: 20px;
  width: 60px; 
  height: 60px;
  background-color: rgb(235, 217, 227);
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
}

.selected{
  background-color: #e9e9e9;
}


#result-box {
  border :3px solid rgb(185, 166, 177);
  height: 400px;
  margin-top: 80px;
  background-color: #b6b6b62f;
  border-radius: 10px;
}