* {
  font-family: 'Montserrat', sans-serif;
}
/* Modify brand and text color */

.navI {
	background-color: #ffa3b460;
}

#webgazerVideoContainer {
  border: 3px solid rgb(129, 33, 86) !important;
  border-radius: 5px;
  margin-top:  200px !important;
  margin-left: 50px !important;
  height: 280px !important;
  width: 360px !important;
  padding: 16px;
}

#webgazerFaceFeedbackBox{
  /* padding: 100px !important; */
  position: relative !important;
}
.align-center {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

}
.align-center img {
width: 500px;
max-width: 100%;
}

body {
  /* background-image: url('../assets/background.png');
  background-repeat:no-repeat;
  /* background-size: cover; */
  /* background-origin: bottom left */ 
  background: url(../assets/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quiz-box { 
  border: 2px solid #B6B6B6;
  border-radius: 15px;
  height: 400px; 

}

#question {
  font-size: 30px;
  padding-top: 30px;
  font-weight: 700;
}

.option {
  border: 2px solid #B6B6B6;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#options {
  padding-top: 45px ;
}

.question-box {
  margin-left: 50px;
  margin-top: 20px;
  width: 60px; 
  height: 60px;
  background-color: rgb(235, 217, 227);
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
}
.selected{
  background-color: #e9e9e9;
}

/* signup */
.s{
  margin-top:-50px
}
.sCon{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.signup{
  background:rgba(221, 34, 68, 0.5);
  padding:4%;
  border-radius: 20px;
}
.signup>h3{
  margin-top:0;
  color:white;
  font-weight:600;
  text-align: center;
}
.signup>div{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  padding:2%;
}
.signup>div>label{
  color:white;
}
.signup>div>input{
  border:1px solid black;
  border-radius: 5px;
  padding:2%;
}
.signup>div>button{
  width:80%;
  margin:auto;
  margin-top: 5px;
  padding:3%;
  border-radius:10px;
  border:none;
  outline:none;
  cursor:pointer;
  color:white;
  background:#6C66D0;
}
.signup>div>p{
  font-size:1vw;
  color:white;
  text-align: center;
  padding-top:2px;
}
.signup>div>p>span{
  color:#6C66D0;
}
.imgS{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.imgS>img{
  height:80vh;
}